In [67]:
import pandas as pd
import numpy as np

In [68]:
word_length = 5

base_path = '../data'
dicio_path = '/dicio'
palavras_path = '/palavras'
verbos_path = '/verbos'
conjugacoes_path = '/conjugacoes'
data_path = '/data'

def read_doc(rel_path):
    with open(base_path + rel_path, 'r') as file:
        out = {line.strip() for line in file}
    return out

In [69]:
# dicio está contido em palavras!
dicio = read_doc(dicio_path)
palavras = read_doc(palavras_path)

dicio.issubset(palavras)

True

In [70]:
# nenhum verbo de <word_length> letras não está em dicio!
verbos = read_doc(verbos_path)

[word for word in verbos.difference(dicio) if len(word) == word_length]

[]

In [71]:
# há conjugações de verbos com <word_length> letras que não estão em dicio!
conjugacoes = read_doc(conjugacoes_path)

len([word for word in conjugacoes.difference(dicio) if len(word) == word_length])

134

In [85]:
selected_words = set(filter(lambda word: len(word) == word_length, dicio))
len(selected_words)

12586

In [86]:
word_frequency = pd.read_csv(base_path + data_path)
word_frequency

         palavra      tf   dicts  corpus   title             dmap
0             aa  418667  0.9999  1.0000  0.0155        cdhjloqrs
1         aabora      17  0.9999  0.0000  0.0000        cdfghijkq
2        aaboras       0  0.0100  0.0000  0.0000              cfj
3            aac   62309  0.9089  0.0002  0.0000           cdghjk
4         aacima      72  0.0010  0.0000  0.0000               lq
...          ...     ...     ...     ...     ...              ...
2617049   úvidas     225  0.0100  0.0002  0.0000              cfj
2617050    úvido     195  1.0000  0.0002  0.0000    cdfghijklmoqs
2617051   úvidos       2  0.0100  0.0000  0.0000              cfj
2617052    úvula    3034  1.0000  0.7078  0.0000  acdfghijklmoqrs
2617053   úvulas       3  0.5000  0.0000  0.0000            cdfhj

[2617054 rows x 6 columns]

In [87]:
word_frequency['tamanho'] = word_frequency.palavra.apply(len)
word_frequency

         palavra      tf   dicts  corpus   title             dmap  tamanho
0             aa  418667  0.9999  1.0000  0.0155        cdhjloqrs        2
1         aabora      17  0.9999  0.0000  0.0000        cdfghijkq        6
2        aaboras       0  0.0100  0.0000  0.0000              cfj        7
3            aac   62309  0.9089  0.0002  0.0000           cdghjk        3
4         aacima      72  0.0010  0.0000  0.0000               lq        6
...          ...     ...     ...     ...     ...              ...      ...
2617049   úvidas     225  0.0100  0.0002  0.0000              cfj        6
2617050    úvido     195  1.0000  0.0002  0.0000    cdfghijklmoqs        5
2617051   úvidos       2  0.0100  0.0000  0.0000              cfj        6
2617052    úvula    3034  1.0000  0.7078  0.0000  acdfghijklmoqrs        5
2617053   úvulas       3  0.5000  0.0000  0.0000            cdfhj        6

[2617054 rows x 7 columns]

In [88]:
# deixando apenas o tamanho que nos importa
word_frequency = word_frequency[word_frequency.tamanho == word_length]
word_frequency = word_frequency.drop(columns='tamanho')
word_frequency

        palavra    tf  dicts  corpus   title             dmap
19        aanás     0   0.01  0.0000  0.0000              cfj
44        aarus     0   0.01  0.0000  0.0000              cfj
51        aasto    33   0.01  0.0000  0.0000              dfh
57        ababa  4266   1.00  0.0376  0.4522      cdfghijkmoq
535       ababé     0   0.99  0.0000  0.0000          cdfghjk
...         ...   ...    ...     ...     ...              ...
2617044   úvica     0   0.01  0.0000  0.0000              cfj
2617046   úvico     5   1.00  0.0000  0.0000     cdfghijklmqs
2617048   úvida   181   0.01  0.0001  0.0000              cfj
2617050   úvido   195   1.00  0.0002  0.0000    cdfghijklmoqs
2617052   úvula  3034   1.00  0.7078  0.0000  acdfghijklmoqrs

[19437 rows x 6 columns]

In [91]:
# todas as palavras de <word_length> letras estão com suas estatísticas realizadas em word_frequency
words = set(word_frequency.palavra.unique())

selected_words.issubset(words)

True

In [92]:
selected_words_df = word_frequency[word_frequency.palavra.isin(selected_words)]
selected_words_df

        palavra       tf  dicts  corpus   title               dmap
57        ababa     4266  1.000  0.0376  0.4522        cdfghijkmoq
535       ababé        0  0.990  0.0000  0.0000            cdfghjk
912       abaci      143  0.999  0.0002  0.0000           cdfghijk
1154      abacá     1892  1.000  0.0376  0.0156    acdfghijklmoqrs
1156      abacé      867  0.999  0.0001  0.3146           cdfghijk
...         ...      ...    ...     ...     ...                ...
2617038   úteis  2628142  0.999  0.9989  0.0055           bcdfhijp
2617039   útero   383653  1.000  0.9994  0.0021  abcdfghijklmoqrst
2617046   úvico        5  1.000  0.0000  0.0000       cdfghijklmqs
2617050   úvido      195  1.000  0.0002  0.0000      cdfghijklmoqs
2617052   úvula     3034  1.000  0.7078  0.0000    acdfghijklmoqrs

[12586 rows x 6 columns]

In [98]:
selected_words = sorted(list(selected_words))

with open(f'../words/palavras_{word_length}', 'w') as file:
    for word in selected_words:
        file.write(word + '\n')

selected_words_df.to_csv(f'../words/estatisticas_palavras_{word_length}', index=False)